*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: end;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #e39e37;
    color: #fff;
    padding: 30px;
}

nav{
    display: flex;
    align-items: end;
    gap: 20px;
}

a{
    color: #fff;
    border: none;
    text-decoration: none;
    font-weight: bold;
}

main{
    background-color: blanchedalmond;
    margin-top: 15px;
    width: 100vw;
    height: auto;
}

footer{
    display: flex;
    margin: 30px;
    align-items: end;
    background-color: #e39e37;
    padding: 30px;
}